# Python
__pycache__/
*.pyc

# Virtual environment
.venv/

# Environment variables
.env

# Database
*.db
*.sqlite
*.sqlite3

# FastAPI / Python testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store
