# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
venv/
env/
.venv/

# Environment variables / secrets
.env
.env.local

# Database files
*.db
*.sqlite
*.sqlite3

# FastAPI / Python testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# macOS
.DS_Store

# Frontend
node_modules/
dist/
build/

# Logs
*.log
